BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 2
#BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
IndentCaseLabels: true
ColumnLimit: 80
PointerAlignment: Left

TabWidth: 2
