BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 2
#BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
IndentCaseLabels: true
ColumnLimit: 0

TabWidth: 2
